<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
    <h1>Karthik Singaravelan</h1>
    <p>
        <ol>
        I am a Full Stack Developer with a demonstrated history of working in the information technology and services industry.
        </ol>
        <ol>
        Skilled in Java, J2EE, Python (basics),React.js, React-Redux, Spring Boot, Oracle Database, ORM, Hibernate, Android Development, Amazon Web Services (AWS), CD/CI, Jenkins, Microservices and Restful API.
        </ol>
        <ol>
        Strong computer professional with a Bachelor of Science (BSc) focused in Computer Science from University of Madras.</p>
        </ol>
    </body>
</html>
